#tablebox{

margin-left: 30%;
margin-right:30%;
}

table, td, th {
  
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.car{
  width: 0px;
}

td:nth-child(odd){
  border: 1px solid;
}

td:nth-child(even){
  width: 20%;
}